@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #25242f;
  scroll-behavior: smooth;
  color: white;
}

@layer components {
  .spinner {
    margin: 4.8rem auto;
    width: 6.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #1d9bfc 94%, #0000) top/10px 10px
        no-repeat,
      conic-gradient(#0000 30%, #1d9bfc);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 10px),
      #000 0
    );
    animation: rotation 1.5s infinite linear;
  }

  .masking {
    mask-image: linear-gradient(black, black, transparent);
    -webkit-mask-image: linear-gradient(black, black, transparent);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
  }
}

.spinner-mini {
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}

@layer utilities {
  .text-size {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  .padding-x {
    @apply xl:px-36 lg:px-28 md:px-20 sm:px-12 px-4;
  }

  .padding {
    @apply xl:p-36 lg:p-28 md:p-20 sm:p-12 p-2;
  }

  .header-gradient {
    background-image: linear-gradient(
      to bottom,
      #000000c1,
      #00000070,
      #0000003e,
      transparent
    );
  }

  .transparental-black {
    background-color: #0000005b;
  }

  .text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
  }
}

.border-red {
  border: 2px solid #ff1f1f;
}

.border-orange {
  border: 2px solid #ffbf00;
}

.view-btn {
  opacity: 0;
  animation: hovering 0.4s linear 0.3s;
}
@keyframes hovering {
  to {
    opacity: 1;
  }
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}
