@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #25242f;
  scroll-behavior: smooth;
  color: white;
  box-sizing: border-box;
}

@layer components {
  .spinner {
    margin: 4.8rem auto;
    width: 6.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #1d9bfc 94%, #0000) top/10px 10px
        no-repeat,
      conic-gradient(#0000 30%, #1d9bfc);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 10px),
      #000 0
    );
    animation: rotation 1.5s infinite linear;
  }

  .masking {
    mask-image: linear-gradient(black, black, transparent);
    -webkit-mask-image: linear-gradient(black, black, transparent);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
  }

  .heading-title {
    @apply text-3xl sm:text-4xl md:text-5xl font-semibold text-slate-200;
  }

  .heading-title-1 {
    @apply text-xl sm:text-2xl md:text-3xl font-semibold text-slate-200;
  }
  .heading-title-2 {
    @apply text-lg sm:text-xl md:text-2xl font-semibold text-slate-300;
  }
}

.spinner-mini {
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}

@layer utilities {
  .text-size {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  .padding-x {
    @apply 2xl:px-44 xl:px-40 lg:px-28 md:px-16 sm:px-12 xs:px-8 2xs:px-6 px-2;
  }

  .padding {
    @apply xl:p-36 lg:p-28 md:p-20 sm:p-12 p-2;
  }

  .header-gradient {
    background-image: linear-gradient(
      to bottom,
      #25242fea,
      #25242f47,
      transparent
    );
  }

  .transparental-black {
    background-color: #0000005b;
  }

  .text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
  }
}

.border-red {
  border: 2px solid #ff1f1f;
}

.border-orange {
  border: 2px solid #ffbf00;
}

.view-btn {
  opacity: 0;
  animation: hovering 0.4s linear 0.3s;
}
@keyframes hovering {
  to {
    opacity: 1;
  }
}

.scrollbar-custom {
  overflow-y: auto;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #6f7d90;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #213857;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-button {
  display: none;
}
